.listaPhone {

  display: flex;
  justify-content: space-between;
  margin: 1em;
  gap: 20px;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border: solid 2px black;
    background: linear-gradient(90deg, rgb(255, 136, 81) 0%, rgb(234, 225, 216) 50%, rgb(255, 194, 81) 100%);
    border-radius: 3px;
  }

  .pTitulo{
    text-decoration: underline;
    font-weight: 700;
  }

  p {
    padding: .3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  img {
    width: 70%;
    border-radius: 50px;
  }
}